page-home {
  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    color: #fff;
    font-size: 2.0em;
    font-weight: bold;
    position: absolute;
    top: 86%;
    width: 100%;
  }

  .logo {
    height: 35%;
    width: 40%;
  }
}
